:root {
  font-family: Menlo;
}

div {
  border: 2px solid black;
}

header {
  display: flex;
  justify-content: center;
}

.playOptions button {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

#rock {
  background: url("img/rock.png");
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: center;
}

#paper {
  background: url("img/paper.png");
  background-size: 135px;
  background-position: -5px -3px;
}

#scissors {
  background: url("/img/scissors.png");
  background-size: 140px;
  background-position: center;
}
